:root{
    --primary: #4CAF50;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

h1{
    text-transform: capitalize;
}

li{
    list-style: none;
}

table{
    margin: 0 auto;
    /* border: 1px solid gray; */
}

tr:nth-child(even){
    background-color: #ededed;
}

tr:nth-child(odd){
    background-color: #dfdfdf;
}

tr:first-child{
    background-color: var(--primary);
    color: #fff;
}
td, th{
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

td.lab{
    background-color: #dfdfdf;
}

.flex{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 6px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 20px;
}

header{
    background-color: var(--primary);
    padding: 10px 30px;
}

nav ul li button{
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 8px;
    margin: 10px;
}
nav ul li button:hover{
    color: var(--primary);
    background-color: white;
    font-weight: bold;
}

#teachers-list, #courses{
    flex: 1;
    background-color: #eee;
    padding: 20px;
    
}

#teachers-list h1, #courses h1{
    text-align: center;
    margin-bottom: 14px;
    color: var(--primary)
}
#teachers-list ol li, #courses li{
    margin: 8px 0;
    font-size: 14px;
}

#teachers-list ol li .btn-teachersName{
    border: none;
    background: transparent;
    font-size: 14px;
    font-weight: bold;  
}
#teachers-list ol li .btn-teachersName:hover{
    text-decoration: underline;
}

#master-routine{
    flex: 4;
}

#master-routine h1{
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

#master-routine #dayLabel{
    display: inline-block;
    width: 200px;

}

.btn-arrow{
    border: none;
    border: 2px solid var(--primary);
    border-radius: 10%;
    color: var(--primary);
    font-size: 30px;
    padding: 0px 20px;
    background: white;
}
.btn-arrow:hover{
    background-color: var(--primary);
    color: white;
}

.active-classes{
    background-color: var(--primary);
    color: white;
}

#year-routine{
    flex: 4;
    margin: 20px auto;
    display: none;
}

.table-title{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
}

#teacher-routine{
    flex: 4;
}

#timezone{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: white;
    height: 80px;
    width: 140px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 20px;   
}